body {
    background-color: bisque;
}

.indexImg {
    text-align: left;
}

.indexNames {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-right: 15em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexTable {
    text-align: center;
}

a {
    color: rgb(255, 151, 16);
}

a:hover {
    color: blue;
}

.cent {
    text-align: center;
}

.CSS {
    text-align: center;
}

.imgcss {
    width: 60%;
}
